.button {
    white-space: nowrap;
}

.text {
    margin-left: 0.75em;
    display: inline-block;

    @media (max-width: 1024px) {
        display: none;
    }
}

.disabled {
    position: relative;
    text-decoration: line-through;

    span {
        color: rgba(255, 255, 255, 0.5);
    }
}
